.bg-gradient-primary {
    background: linear-gradient(135deg, #007bff 0%, #28a745 100%);
}

.hero-section {
    display: flex;
    align-items: center;
    padding: 5rem 0;
}

.login-page {

    background: linear-gradient(135deg, #007bff 0%, #28a745 100%);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: transparent;
}

main {
    flex: 1 0 auto;
    background: linear-gradient(135deg, #007bff 0%, #28a745 100%);
}

footer {
    flex-shrink: 0;
}